@model Buoi3.Models.SACH

@{
    ViewBag.Title = "DetailBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailBook</h2>

<div>
    <h4>SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptio_n)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptio_n)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditBook", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ListBook")
</p>
