@model IEnumerable<Buoi3.Models.SACH>

@{
    ViewBag.Title = "ListBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListBook</h2>

<p>
    @Html.ActionLink("Create New", "CreateBook")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriptio_n)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriptio_n)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <img src="~/images/@item.Images" width="50" height="50"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "EditBook", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailBook", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteBook", new { id=item.Id })
        </td>
        <td>
            <a href="@Url.Action("Buy","Book",new { id=item.Id})" class="btn btn-primary">Buy</a>
        </td>
    </tr>
}

</table>
